#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

form {
    font-family: Arial, sans-serif;
    max-width: max-content;
    margin: 20px auto 20px;
    padding: 10px 10px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input,
select {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
}

input[name="name"]:required+input[type="submit"] {
    display: none;
}

input[type="submit"] {
    margin-top: 10px;
    background-color: #000000;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
}

form:invalid::after {
    content: "";
    display: block;
    width: 210px;
    height: 210px;
    margin: auto;
    background-image: url("https://i.imgur.com/BuHkgMn_d.webp?maxwidth=760");
    background-size: cover;
    background-repeat: no-repeat;
}

form:valid video {
    display: block;
    margin: auto;
}